<ion-view style="position: relative;" ng-init="getPost()" ng-change="getPost()">

    <div ng-repeat="post in posts" ng-if="!!post">
        <div class="row" ng-if="$even">
            <div class="col col-33"><img ng-src="{{posts[$index].image}}" width="100%"></div>
            <div class="col col-33" ng-if="$index > 0"><img ng-src="{{posts[$index+1].image}}" width="100%"></div>
            <div class="col col-33" ng-if="$index > 0"><img ng-src="{{posts[$index+2].image}}" width="100%"></div>
        </div>
    </div>

</ion-view>