<ion-view title="Account">
    <!-- <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">
        <h1>Account page <a ui-sref="app.option" class="button button-dark">link</a> </h1>
    </ion-content> -->
<!--     <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="account-profile"></ion-nav-view>
    <ion-nav-view name="account-option"></ion-nav-view>
    <ion-nav-view name="account-edit"></ion-nav-view>

    <ion-content has-header="true" class="padding">
        <h1>Account page<a href="#/app/account/option" class="button button-dark">go Option</a></h1>
        <a href="#/app/account/edit" class="button button-dark">go Edit</a>
    </ion-content>

</ion-view>