<ion-view class="account" ng-init="account()">
    <!-- <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar> -->
    <div class="bar bar-header bar-positive">
        <h1 class="title">{{ user.username }}</h1>
        <div class="buttons" ng-if="user.userid === currentUser.userid">
            <a href="#/app/option" class="button icon ion-ios-gear button-clear button-white"></a>
        </div>
    </div>

    <ion-content has-header="true" class="main-content">

        <div class="list user-info">
            <div class="item item-avatar">
                <img src="{{ user.avatar }}">
                <div class="row">
                    <div class="col col-33"><a href="#"><h2>{{ user.countPosts }}</h2><p>posts</p></a></div>
                    <div class="col col-33"><a href="#"><h2>{{ user.countFollowers }}</h2><p>followers</p></a></div>
                    <div class="col col-33"><a href="#"><h2>{{ user.countFollowings }}</h2><p>following</p></a></div>
                </div>
                <a href="#/app/edit"><button class="button button-block button-stable">Edit your profile</button></a>
            </div>
        </div>

        <ion-tabs class="tabs-striped" ng-if="user.userid === currentUser.userid">
            <ion-tab icon="ion-grid" ng-href="#/app/account/grid">
                <ion-nav-view name="grid-img"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-navicon-round" ng-href="#/app/account/post">
                <ion-nav-view name="post-img"></ion-nav-view>
            </ion-tab>
        </ion-tabs>

        <ion-tabs class="tabs-striped" ng-if="user.userid !== currentUser.userid">
            <ion-tab icon="ion-grid" ng-href="#/app/home-user/{{user.userid}}/grid">
                <ion-nav-view name="users-grid"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-navicon-round" ng-href="#/app/home-user/{{user.userid}}/post">
                <ion-nav-view name="users-post"></ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-content>

</ion-view>