<ion-view view-title="Activity">
	<ion-content class="padding">
		<div class="list card">

		    <div class="item item-avatar" href="#">
		      	<img src="img/ionic.png">
		      	<p><a href="#" class="user"><b>Mary</b></a> like your photos.<span class="time"> 4h</span></p>
		      	<img src="img/ionic.png" class="action-img">
		    </div>
		    <div class="item item-avatar" href="#">
		      	<img src="img/ionic.png">
		      	<p><a href="#" class="user"><b>Mary</b></a> starts following you.<span class="time"> 4h</span></p>
		    </div>
		
		</div>
	</ion-content>
</ion-view>