<ion-view class="home">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Instagram</h1>
    </div>

    <ion-content class="main-content">

        <div class="list card" ng-repeat="post in posts">

            <a class="item item-avatar" href="#/app/account">
                <img ng-src="{{ post.user_avatar }}">
                <h2>{{ post.user_username }}</h2>
                <p><span am-time-ago="post.createdTime"></span></p>
            </a>

            <div class="item item-image">
                <img ng-src="{{ post.image }}">
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a href="" class="tab-item"><i class="icon ion-ios-heart-outline"></i></a>
                <a href="" class="tab-item"><i class="icon ion-ios-chatbubble-outline"></i></a>
                <a href="" class="tab-item"><i class="icon ion-share"></i></a>
                <a href="" class="tab-item"><i class="icon ion-android-more-vertical"></i></a>
            </div>

            <div class="item item-body">
                <p><i class="icon ion-ios-heart"></i><b ng-repeat="like in post.likes"><a href="#/app/user/{{ like.id }}"> {{ like.username }}</a>,</b></p>

                <p class="img-caption"><b>{{ post.user_username }}</b> {{ post.caption }}</p>
                <p class="img-comments" ng-repeat="comment in post.comments">
                    <b>{{ comment.user.username }}</b> {{ comment.text }}
                </p>

                <input type="text" placeholder="Add a comment">
            </div>

        </div>
        
    </ion-content>
</ion-view>